/* Element Selector */
h1 {
    color:antiquewhite
}

/* Class Selector */
.form {
    padding: auto;
    background-color: rgb(248, 234, 255);
}

/* ID Selector */
#contactForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}

/* Descendant Selector */
.form input {
    padding-left: 50%;
}

/* Psuedo-Class Selector */
a:hover { color: rgb(221, 255, 0); }

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and border in element's total width/height */
}

/* Typography (font, color, font-style) */
* {
    font-family: 'Times New Roman', Times, serif;
}

/* Background Color */
body {
    background-color: rgb(238, 238, 238);
}

/* Margin, Padding, Border */
#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* List-style Properties */

li {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}