/* Element Selector */
h1 {
    color:rgb(184, 97, 251)
}

/* Class Selector */
.form {
    padding: auto;
    background-color: rgb(215, 136, 255);
}

/* ID Selector */
#contactForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}

/* Descendant Selector */
.form input {
    padding-left: 50%;
}

/* Psuedo-Class Selector */
a:hover { color: rgb(255, 0, 200); }

/* Universal Selector */
* {
    font-family: 'Times New Roman', Times, serif;
    
}

/* Typography (font, color, font-style) */
p {
    font-size: large;
    font-style: oblique;
    color:rgb(14, 125, 222);
}

/* Background Color */
body {
    background-color: rgb(253, 219, 248);
}

/* Margin, Padding, Border */
#photo {
    display: block;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#audio {
    display: block;
    border-color:rgb(14, 125, 222);
    border-style:double;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* List-style Properties */

li {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}